.tag {
	background-color: teal;
	padding: 1rem;
	color: white;
	border-radius: 10px;
	font-weight: bold;
}

.info {
	background-color: rgb(233, 233, 233);
	padding: 1rem;
	border-radius: 10px;
	font-weight: bold;
}
