<div class="dropzone" dragnanddrop (files)="filesDropped($event)">
	<div *ngIf="visibilityService.showAsGallery" style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: flex-start">
		<div *ngFor="let file of fileHandlerService.getFiles()">
			<a (click)="imageClick(file, $event)" pTooltip="Name: {{ file.file.name }}" class="imageHover">
				<div
					[ngStyle]="{
						'background-color': file.selected ? '#6495ED' : 'transparent',
						width: '110px',
						height: '110px',
						display: 'flex',
						'justify-content': 'center',
						'align-items': 'center'
					}"
				>
					<img *ngIf="file" [src]="file.url" width="100px" height="100px" />
				</div>
			</a>
		</div>
	</div>
	<div *ngIf="!visibilityService.showAsGallery" style="flex-grow: 1">
		<div class="listRow">
			<div class="listImage" style="font-weight: bold"></div>
			<div class="listID" style="font-weight: bold">ID</div>
			<div class="listFileName" style="font-weight: bold">Name</div>
			<div class="listFileType" style="font-weight: bold">Type</div>
		</div>
		<div *ngFor="let file of fileHandlerService.getFiles()" style="flex-grow: 1">
			<a (click)="imageClick(file, $event)" pTooltip="Name: {{ file.file.name }}" class="imageHover unselectable">
				<div
					[ngStyle]="{
						display: 'flex',
						'justify-content': 'center',
						'align-items': 'center',
					}"
				>
					<div
						class="listRow"
						[ngStyle]="{
						'background-color': file.selected ? '#6495ED' : 'white',
					}"
					>
						<div class="listImage"><img [src]="file.url" width="30px" height="30px" /></div>
						<div class="listID">{{ file.id }}</div>
						<div class="listFileName">{{ file.file.name }}</div>
						<div class="listFileType">{{ file.file.type }}</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
