<p-toast></p-toast>
<img *ngIf="visibilityService.previewVisible" [src]="fileHandlerService.selectedFilePreviewURL" width="300" height="300" />
<div class="identifyButtonContainer">
	<button
		pButton
		pRipple
		[loading]="fileHandlerService.identifySelectedButtonLoading"
		[disabled]="fileHandlerService.identifySelectedButtonDisabled"
		(click)="identifySelected()"
		[style]="{ display: 'flex', width: '100%', 'text-align': 'center', 'justify-content': 'center', 'align-items': 'center' }"
	>
		Identify selected images
	</button>
	<button
		pButton
		pRipple
		[loading]="fileHandlerService.identifyAllButtonLoading"
		[disabled]="fileHandlerService.identifyAllButtonDisabled"
		(click)="identifyAll()"
		[style]="{ display: 'flex', width: '100%', 'text-align': 'center', 'justify-content': 'center', 'align-items': 'center' }"
	>
		Identify all images
	</button>
</div>
<div class="card" *ngIf="visibilityService.detailsVisible">
	<p-fieldset>
		<ng-template pTemplate="header">
			<div class="flex align-items-center text-primary">
				<span class="pi pi-image"></span>
				<span class="font-bold"> Image Details</span>
			</div>
		</ng-template>
		<table style="justify-items: center; justify-content: center; display: flex; align-content: center; align-items: center">
			<tbody>
				<tr>
					<td class="tag">File Name</td>
					<td class="info">{{ fileHandlerService.selectedFileName }}</td>
				</tr>
				<tr>
					<td class="tag">Width</td>
					<td class="info">{{ fileHandlerService.selectedFileWidth }}</td>
				</tr>
				<tr>
					<td class="tag">Height</td>
					<td class="info">{{ fileHandlerService.selectedFileHeight }}</td>
				</tr>
				<tr>
					<td class="tag">File Size</td>
					<td class="info">{{ fileHandlerService.selectedFileSize }}</td>
				</tr>
			</tbody>
		</table>
	</p-fieldset>
</div>
<div class="identifyButtonContainer">
	<button
		pButton
		pRipple
		[disabled]="fileHandlerService.exportButtonDisabled"
		(click)="showExportDialog()"
		[style]="{ display: 'flex', width: '100%', 'text-align': 'center', 'justify-content': 'center', 'align-items': 'center' }"
	>
		Preview Results
	</button>
	<p-splitButton #ua label="Export Results" (onClick)="ua.onDropdownButtonClick($event)" [model]="exportResultsItems"></p-splitButton>
</div>
